doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Coom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Coom

        main
            div#welcome 
                h4 Open Rooms: 
                ul
                form
                    input#roomname(placeholder="room name",required, type="text")
                    
                    input#nickname(value="Anonymous", required,type="text")
                    button Enter Room
            div#room
                h3
                ul
                form#message
                    input(placeholder="message", required,type="text")
                    button Send
            //- form#nickname
            //-     input(type="text",placeholder="choose a nickname",required)
            //-     button Save
            //- ul
            //- form#message
            //-     input(type="text",placeholder="write a message",required)
            //-     button Send
        script(src="/socket.io/socket.io.js")
        //- socket.io는 browser에 미리 깔려있는것이 아니므로 import해준다
        script(src="/public/js/app.js")
